
body {
    background-color: black;
    font-family: sans-serif;
    color: white;

}

.box {
    background: red;
    text-align: center;
    width: 400px;
    margin: auto;
}

h1 {
    padding:5px;
    margin:0px;
}

h2 {
    padding: 0px;
    margin: 5px;
    letter-spacing: 2px;
}

p {
    font-size: 9px;
    padding: 20px;
    background: lightcoral;
    text-align: justify;
}